<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PhotoGrid</title>
	<link rel="stylesheet" href="../css/main.css">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="../js/photogrid_utils.js"></script>
	<script>
		$(() => {
				/*Inject from res.render */
				let host = '{{host}}'
				$(document).on('click', '#doUpload', () => {
					uploadNow()
				});
				/*Set up pipeline*/
				let socket = io(host);
				/* Event 'status' emitted from server once upload is successful */
				socket.on('status', data => {
					showStatus(data.msg, data.relay);
				})
				/* Event 'updateList' emitted from server once upload is successful*/
				socket.on('doUpdate', () => {
					renderList()
				})

				let renderList = () => {
					/* If html('') is not invoked, gallery will keep stacking so you will have dupicate images */
					$('.gallery ul').html('');
					ajax({
						url: host + '/getimage',
						success: data => {
							let imageList = JSON.parse(data.response);
							/*use Classic ajax method += to render new list*/
							for(i = 0; i < imageList.length; i++){
								let str = '<li>'
								str += '<div class="overlay">';
								str += '<div class="voteCtrl">';
								str += '<a href="#" data-photoid="' + imageList[i]._id + '" class="voteUp">';
								str += '<img src="../images/voteup.png" alt="Click Here to Vote Up !">';
								str += '<h4>' + imageList[i].votes + '</h4>';
								str += '</a>';
								str += '</div>';
								str += '</div>';
								str += '<div class="imageHolder">';
								/*Set up CDN on AWS*/
								str += '<img src="http://dy9zyp9oiaxxg.cloudfront.net/'+ imageList[i].filename + '" alt="">';
								str += '</div>';
								str += '</li>';

								$('.gallery ul').append(str);
							}
						}
					})
				}

				renderList();

				let uploadNow = () => {
					$('.progress').fadeIn(100);
					let uploadURL = host + '/upload';
					let uploadFile = $('.uploadPic');
					if(uploadFile.val() != '') {
						/*This is instantiate a new form object*/
						let form = new FormData();
						form.append("upload", uploadFile[0].files[0]);
						/* Perform AJAX post request and send the file, this ajax was modified to reflect the progress*/
						ajax({
							method: 'post',
							url: uploadURL,
							success: () => {
								$('.progress').fadeOut(200);
								uploadFile.val();
							},
							progress: e => {
								if(e.lengthComputable){
									let perc = Math.round((e.loaded * 100) / e.total);
									$('.progress').css('width', (perc + '%'));
								}
							},
							payload: form
						})
					}
				}
		})
	</script>
</head>
<body>
	<div class="container">
		<div class="topDeck">
			<div class="logo">
				<h1>PhotoGRID</h1>
			</div>
			<div class="controls">
				<input type="file" name="uploadPic" class="uploadPic">
				<button id="doUpload">Upload</button>
				<div class="progressBarDiv">
					<div class="progress"></div>
				</div>
				<h5 class="status"></h5>
			</div>
		</div>
		<div class="gallery">
			<ul>
				<!-- Repeat the following <li> structure for every image -->

				<!-- End Repeat -->


			</ul>
		</div>
	</div>
</body>
</html>
